*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html body {
    background-color: rgb(24, 24, 24);
    color: white;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
